/* add your CSS here */

.main {
	margin-right: auto;
	margin-left: auto;
	width: 300px;
	border: solid 1px #cecece;
	padding: 20px;
	padding-top: 5px;
	box-shadow: 1px 5px 5px 1px rgba(206,206,206,1);
}

.title {
	font-family: sans-serif;
	margin: 10px;
	margin-left: 5px;
}

.description {
	border: solid 2px #cecece;
	padding: 10px;
	width: 278px;
}

.fun-fact {
	margin-top: 0;
}

.attributes {
	padding-left: 0;
}

.fun-fact,
.short-description, 
.attribute {
	font-style: italic;
	list-style: none;
	margin: 3px;
}

.attr-name {
	font-weight: bold;
}

.short-description {
	margin-bottom: 0;
}

/*borrowed from pokedex site*/

.type-icon {
    display: inline-block;
    line-height: 1;
    margin: 1px 0;
    padding: 3px;
    background: #ccc;
    background-image: linear-gradient(#ddd,#bbb);
    border: 1px solid #aaa;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 1px #333;
    text-transform: uppercase;
}

.type-electric {
    background: #f8d030;
    background-image: linear-gradient(#f8d030,#f0c108);
    border-color: #c19b07;
}